{% extends "layouts/defaults.html" %}
{% block content %}
<main>
  <div class="app-grid" style="width:95%; text-align:justify">
        <h1 onclick="location.href = '';"  class="apps-title" style="cursor:pointer; font-weight:bold">{{title}}</h1>
        <p style="width:95%; text-align:justify; padding:10px">
        If you wish Criticism, Praise, Opinion, Idea or other, You can send your massage to my email <a href="mailto:taufanbagusdpa@gmail.com" >taufanbagusdpa@gmail.com</a> or you send your massage at my account twitter <b>@TaufanBagusDPA</b>
        </p>
  </div>
</main>
{% endblock %}
